* {
    margin: 0px;
    padding: 0px;
}

.maincontainer {
    display: flex;
    height: 100vh;
    /* background-color: dodgerblue; */
    background-image: url("/images/flowers.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
}

.formcontainer {
    display: flex;
    height: 370px;
    width: 250px;
    background-color: white;
    flex-direction: column;
    border-radius: 15px;
    background-image: url('/images/plain2.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;

    /*The first value is the horizontal offset:
    A positive value puts the shadow on the right side of the box, 
    a negative value puts the shadow on the left side of the box

    the second value is the vertical offset
    A positive value puts the shadow below the box,
    a negative value puts the shadow above the box

    third value is the blur radius 
    the higher the number the more blurred the shadow becomes

    foruth value is the color of the shadow*/
    box-shadow: -1px -1px 20px 0px gray;
}

.headerdiv {
    display: flex;
    /* background-color: gray; */
    flex: 0.15;
    justify-content: center;
    align-items: center;
}

.imagediv {
    display: flex;
    /* background-color: green; */
    flex: 0.4;
    align-items: center;
    justify-content: center;
}

.inputdiv {
    display: flex;
    /* background-color: red; */
    flex: 0.2;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
}

.buttondiv {
    display: flex;
    /* background-color: orange; */
    flex: 0.15;

    justify-content: center;
    align-items: center;
}

.footerdiv {
    display: flex;
    /* background-color: pink; */
    flex: 0.1;

    align-items: center;
    justify-content: center;
}

.myinputfields {
    /*this value applies to all sides of the element*/
    /* padding:30px;     */

    /*the first value is for top and bottom
    the second value is for left and right**/
    /* padding: 15px 35px; */

    /**the first value is for the top,
    second value for right and left
    third value for bottom*/
    /* padding:20px 15px 10px; */

    /*the first value for the top
    second value for the right
    third value for the bottom
    fourth value for the left*/
    /* padding:10px 20px 40px 15px; */

    padding: 5px 5px;
    /* margin-top: 50px; */

    border-radius: 5px;

    /* border-style:double;
    border-width: 2px;
    border-color: gray; */

    /*first value is for the border-width
    second value for the border-style
    third value for the border-color*/
    /* border: 2px solid gray; */
    border: none;

    box-shadow: -1px 0px 10px 0px gray;

    background-color: transparent;

    color:white;
    font-size: 12px;
}

::placeholder {
    font-size: smaller;
    color:white;
}

.form-image {
    height: 110px;
    width: 110px;
    border-radius: 55px;
    box-shadow: -1px 0px 20px 0px gray;
}

.form-button {
    padding: 5px 0px;
    margin: 0px 15px;
    width: 100%;
    font-size: small;
    border-radius: 5px;
    border: 2px double transparent;
    background-color: dodgerblue;
    color: white;
    box-shadow: -1px 0px 10px 0px gray;
}

.forgotpassword {
    font-size: small;
    color: white;
}

/*styling for when you hover over the forgot password link*/
.forgotpassword:hover {
    color: dodgerblue;
}

.logintext {
    font-size: large;
    font-weight: bold;
    color: white;
}
