page-dm {
    .body{
        background-color: white;
    }

    ::-webkit-scrollbar,
    *::-webkit-scrollbar
    {
        display: none;
    }

    .toolbar-background{
        background-color: dodgerblue;
    }

    .camfilaicon{
        zoom :2.0;
        color:white;
        margin-left:10px;
     }
 

    .toolbar-title{
        color:white;
        margin-top: 5px;
        font-size: medium;
    }

    .navbartitle{
        margin-top:5px;
    }

    .has-refresher  .scroll-content {
        border-top: 0 !important;
      }

    .refresher-pulling-icon{
        color:white;
    }

    .refresher-pulling-text{
        color:white;
    }

    .spinner svg {
        stroke: white;
        fill: white;
    }

    .refresher-refreshing-text{
        color:white;
    }

   .dmchatlist{
       background: transparent;
   }

   .chatitem{
       background: transparent;
   }

   .username{
       color:black;
   }

   .lastmessage{
       color:rgb(88, 88, 84);
   }

   .lastmessagetime{
       float: right;
       font-size: 12px;
       margin-top:-40px;
       margin-right: 15px;
       color:black;
   }

   .userprofilepic{
       width:50px !important;
       height: 50px !important;
       margin-top:0px;
   }

   .slidingformstyle{
    background: transparent;
   }


    .acceptordeclinedivchatitem{
        margin-left:-9px;
        padding-left: 0px;
    }

   .senderprofilepic{
    width: 55px;
    height: 55px;
    border-radius: 60px !important;
    margin-top: 5px;
   }

   .sendername{
    color:black;
   }

   .promptmessage{
    color:black;
   }
   
   .acceptbutton{
       margin-top:-5px !important;
   }

   .declinebutton{
    margin-top:-5px !important;
}

   .timesent{
    font-size: 13px;
    color:black;
   }
















//    //columns test
//    .col1{
//     background: red;
//    }

//    .col2{
//     background: yellow;
//    }

//    .col3{
//     background: green;
//    }


}
