page-editprofile {
    //body
    .body {
        // background:url('/assets/imgs/12.jpg') !important;
        // background-repeat: no-repeat !important;
        // background-size: cover !important;
        background-color: white;
    }

    //hide scroll bar when scrolling
    ::-webkit-scrollbar,
    *::-webkit-scrollbar {
        display: none;
    }

    //back button which comes which navctrl push
    .back-button-icon {
        color: white;
    }

    //posts title background
    .toolbar-background {
        // background:transparent;
        // background: url("/assets/imgs/12.jpg") !important;
        // background-repeat: no-repeat !important;
        // background-size: cover !important;
        background-color: dodgerblue;
    }

    //icon in header
    .camfilaicon {
        zoom: 2;
        color: white;
    }

    //navbar title
    .toolbar-title {
        color: white;
        margin-top: 5px;
        font-size: medium;
    }

    //navbar title
    .navbartitle {
        margin-top: 5px;
    }

    //remove border line caused by refresher
    .has-refresher .scroll-content {
        border-top: 0 !important;
    }

    //icon used for pulling refresher
    .refresher-pulling-icon {
        color: white;
    }

    //text shown when pulling refresher
    .refresher-pulling-text {
        color: white;
    }

    //icon used when refreshing
    .spinner svg {
        stroke: white;
        fill: white;
    }

    //text shown when refreshing
    .refresher-refreshing-text {
        color: white;
    }

    //done container
    .donecontainer {
        margin-top: 4px;
        margin-right: 15px;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    //done checkmark in header
    .doneicon {
        zoom: 1.5;
        color: white;
    }

    //done text
    .donetext {
        color: white;
        padding-left: 5px;
        font-size: smaller;
    }

    //profile picture
    .profilephoto {
        border-radius: 40px;
        width: 80px;
        height: 80px;
    }

    //change photo text
    .changephototext {
        color: black;
        margin-top: -10px;
        font-size: smaller;
    }

    // username form item
    .usernameform {
        background-color: transparent;
        border: none;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    //username label
    .usernamelabel {
        //color:rgb(46, 202, 51) !important;
        color: black !important;
        border: none;
    }

    //username input textbox
    .usernameinput {
        color: black;
        font-size: 11px;
        border: none;
        border-bottom: 2px solid white; //text box line
    }

    //about form item
    .aboutform {
        //margin-top:20px;
        background: transparent;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    //about label
    .aboutlabel {
        //color:rgb(46, 202, 51) !important;
        color: black !important;
    }

    //about input textbox
    .aboutinput {
        color: black;
        font-size: 11px;
        border-bottom: 2px solid white; //text box line
    }

    //website form item
    .websiteform {
        //margin-top:20px;
        background: transparent;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    //website label
    .websitelabel {
        //color:rgb(46, 202, 51) !important;
        color: black !important;
    }

    //website input textbox
    .websiteinput {
        color: black;
        font-size: 11px;
        border-bottom: 2px solid white; //text box line
    }

    // email form item
    .emailform {
        background: transparent;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    //email label
    .emaillabel {
        //color:rgb(46, 202, 51) !important;
        color: black !important;
    }

    //email input textbox
    .emailinput {
        color: black;
        font-size: 11px;
        border: none;
        border-bottom: 2px solid white; //text box line
    }

    // phone form item
    .phoneform {
        background: transparent;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    //phone label
    .phonelabel {
        //color:rgb(46, 202, 51) !important;
        color: black !important;
    }

    //phone input textbox
    .phoneinput {
        color: black;
        font-size: 11px;
        border: none;
        border-bottom: 2px solid white; //text box line
    }

    //delete picture icon
    .deletepictureicon {
        position: absolute;
        color: red;
        margin-left: 35px;
        float: right;
        margin-top: -30px !important;
    }

    //privacy setup block
    .privacysetup {
        margin-top: 10px;
        padding-left: 10px;
    }

    //privacy button
    .privacybutton {
        width: 100px;
    }

    //privacy icon
    .privacyicon {
        margin-right: 5px;
    }
}
