<ion-header no-shadow no-border>

  <ion-navbar>
    <ion-row>
      <ion-col>
        <ion-icon name="ios-paw" class="camfilaicon"></ion-icon>
      </ion-col>

      <ion-col>
        <ion-title>Comment message</ion-title>
      </ion-col>

      <ion-col></ion-col>
      <ion-col></ion-col>

    </ion-row>



  </ion-navbar>


</ion-header>


<ion-content class="body">

  <ion-card class="commentedmessagecard" *ngFor="let count of commentedmessagetablerow;">
  
    <ion-row>
      <ion-col>
        <ion-item class="profilepictureANDusername">
          <ion-avatar item-start>
            <img class="avatarprofilepic" src="{{server+count.commentedmsg_sender_profile_pic_fetched}}" />
          </ion-avatar>
          <h2 class="usernametext">{{count.commentedmsg_sender_username_fetched}}</h2>
        </ion-item>
      </ion-col>

    </ion-row>
  
    <img *ngIf="!server+count.commented_message_media_fetched" src="{{server+count.commented_message_media_fetched}}"
    class="commentedmessagemedia" (click)="viewimage(count)">

    <ion-card-content>
      <p class="commentedmessagetext">{{count.commented_message_fetched}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="ios-heart" color={{this.commentedmessagelikecolor}}></ion-icon>
          <div class="likescounttext">{{count.commentedmsg_likes_fetched}}</div>
        </button>

        <button ion-button icon-start clear small>
            <ion-icon *ngIf="count.commentedmsg_comments_fetched > 0" name="ios-text" color=secondary></ion-icon>
            <ion-icon *ngIf="count.commentedmsg_comments_fetched == 0" name="ios-text" color=dark></ion-icon>
          <div class="commmentscounttext">{{count.commentedmsg_comments_fetched}}</div>
        </button>
      </ion-col>
    
      <ion-col center text-center>
        <ion-note class="timeadded">
          {{count.commentedmsg_date_created_fetched}}
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>


  <ion-row>
    <ion-col></ion-col>

    <div *ngIf="display">
      <ion-col width-50 style="text-align: center">
        <ion-card class="picturecard">
          <ion-icon name="trash" class="deletepictureicon" (click)="deletephoto()"></ion-icon>
          <img *ngIf="base64Image" [src]="base64Image" class="imagesource" (click)="viewimage2()">
        </ion-card>
      </ion-col>
    </div>


    <ion-col></ion-col>
  </ion-row>


  <ion-row>

    <ion-col></ion-col>

    <ion-col>
      <textarea rows="10" cols="45" [(ngModel)]="messagetextareainput" class="postmessagetextarea" placeholder="type message here..."></textarea>
    </ion-col>

    <ion-col></ion-col>

  </ion-row>

  <ion-row>

    <ion-col></ion-col>

    <ion-col>
      <button ion-button round class="addimagebutton" (click)="presentActionSheet()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-col>

    <ion-col>
      <button ion-button round class="sendmessagebutton" (click)="sendmessage()">send<ion-icon name="send" class="sendmessageicon"></ion-icon></button>
    </ion-col>

  </ion-row>


</ion-content>