

//ion item design
.ionitemdesignmedia{
    background: transparent;
    margin-bottom: -10px;
}


//picture in message
.mymessagemediamessagemedia{
    height:200px !important; 
    width:800px !important; 
    //margin-left:15px !important;
    margin-bottom:0px;
    border-radius: 20px;
}


//likes comments time
.statsrowstylemessagemedia{
    //margin-top:12px !important;
    margin-bottom: 0px;
}


//some useless stuff to allow us slide in case theres no messsage media
.nuisancemessagemedia{
    background: transparent;
    height:500px !important;
    color: transparent;
}



//time added{
.timeaddedmymessagemedia2{
    float:right;
    color:black;
    margin-top:10px !important;
    font-size: 12px;
    margin-right: 10px;
}