<ion-header no-shadow no-border>

  <ion-navbar>
    <ion-row>
      <!-- <ion-col> -->
      <!--text / ios-text / ios-text-outline-->
      <!-- <ion-icon name="ios-paw" class="camfilaicon"></ion-icon> -->
      <!-- </ion-col> -->

      <ion-col>
        <ion-title>{{this.username}}</ion-title>
      </ion-col>


      <ion-col>
      </ion-col>

    </ion-row>



  </ion-navbar>


</ion-header>


<ion-content class="body">

  <!-- Custom Refresher Content -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <!-- Custom Refresher Content -->

  <!-- user profile card starts here-->
  <div
    style="display: flex;width: 100%;background-color: transparent; box-shadow: 0px 0px 5px 1px grey;flex-direction: column;">

    <div style="display: flex;background-color: dodgerblue;height: 50px;"></div>

    <div style="display: flex;background-color: white;flex-direction: row;
      align-items: center;justify-content: space-between;
      padding-right: 10px;padding-left: 10px;">

      <div (click)="viewprofileimage()" style="display: flex;background-color: transparent;margin-top: -25px;">
        <!-- profile image -->
        <img src="../../assets/imgs/16.jpg" style="height: 70px;width: 70px;border-radius: 35px;
        border-style: solid;border-width: 2px; border-color: white;" />
      </div>

      <div style="display: flex;background-color: transparent;">

        <!-- send message button -->
        <button (click)="editprofile()" style="display: flex;align-items: center;justify-content: center;
        padding-top: 5px;padding-bottom: 5px;color: white;border-radius: 3px;
        padding-left: 5px;padding-right: 5px;font-size: smaller;
         background-color: #3ED646;">
          send message
        </button>

        <!-- follow or unfollow button -->
        <button (click)="editprofile()" style="display: flex;align-items: center;justify-content: center;
        padding-top: 5px;padding-bottom: 5px;color: white;border-radius: 3px;
        padding-left: 5px;padding-right: 5px;font-size: smaller;
         background-color: dodgerblue;margin-left: 10px;">
          following
        </button>
      </div>
    </div>

    <div style="display: flex;flex-direction: column;background-color: white;padding-left: 10px;padding-right: 10px;">

      <!-- username -->
      <div style="display: flex;background-color: transparent;align-items: center;padding-top: 5px;padding-bottom:5px;">
        <span style="font-size: small;font-weight: 500;">michael</span>
        <span style="font-size: 10px;font-style: italic;margin-left: 10px; font-weight: bold;">follows you</span>
      </div>

      <!-- email -->
      <div style="display: flex;background-color: transparent;align-items: center;padding-top: 5px;padding-bottom:5px;">
        <span style="font-size: smaller;">daud@gmailc.om</span>
      </div>

      <!-- phone -->
      <div style="display: flex;background-color: transparent;align-items: center;padding-top: 5px;padding-bottom:5px;">
        <span style="font-size: smaller;">02333</span>
      </div>

      <!-- website -->
      <div style="display: flex;background-color: transparent;align-items: center;padding-top: 5px;padding-bottom:5px;">
        <span style="font-size: smaller;">google.com</span>
      </div>

      <!-- date joined -->
      <div
        style="display: flex;flex-direction: row;background-color: transparent;align-items: center;padding-top: 5px;padding-bottom: 5px;">
        <ion-icon name="ios-calendar-outline"></ion-icon>
        <span style="font-size: smaller;padding-left: 5px;">Joined 2019</span>
      </div>

      <!-- about -->
      <textarea style="display: flex;background-color: transparent; font-size: smaller;padding-top: 5px;
      border: none;">if you corss here</textarea>

      <div style="display: flex;flex-direction: row;background-color: transparent;
       align-items: center;padding-top: 10px;padding-bottom: 10px;">

        <!-- following  -->
        <button (click)="following()" style="margin-right: 5px;padding-top: 5px;
        padding-bottom: 5px; font-size: smaller;background-color: transparent;">
          23 Following
        </button>

        <!-- followers -->
        <button (click)="followers()" style="margin-right: 5px;padding-top: 5px;
        padding-bottom: 5px; font-size: smaller;background-color: transparent;">
          13 Followers
        </button>

        <!-- posts -->
        <button (click)="mymessages()" style="margin-right: 5px;padding-top: 5px;
        padding-bottom: 5px; font-size: smaller;background-color: transparent;">
          44 Posts
        </button>
      </div>

    </div>


  </div>
  <!-- user profile card ends here -->


  <ion-row>
    <ion-col>
      <!--profile picture-->
      <ion-card class="userprofilecard">
        <img src="{{this.profilepic}}" class="userprofilepic" (click)="viewprofileimage()">
      </ion-card>
    </ion-col>

    <!--user stats values-->
    <ion-col class="statscolumn">
      <ion-row>
        <ion-col width-50 style="text-align: center">
          <div class="statsvalue" (click)="mymessages()">{{this.usermessagescount}}</div>
        </ion-col>
        <ion-col width-50 style="text-align: center">
          <div class="statsvalue" (click)="following()">{{this.followingcount}}</div>
        </ion-col>
        <ion-col width-50 style="text-align: center">
          <div class="statsvalue" (click)="followers()">{{this.followerscount}}</div>
        </ion-col>
      </ion-row>

      <ion-row>

        <!--user stats headers-->
        <ion-col width-50 style="text-align: center">
          <div class="statsheader" (click)="mymessages()">posts</div>
        </ion-col>
        <ion-col width-50 style="text-align: center">
          <div class="statsheader" (click)="following()">following</div>
        </ion-col>
        <ion-col width-50 style="text-align: center">
          <div class="statsheader" (click)="followers()">followers</div>
        </ion-col>
      </ion-row>

      <!--send message button-->
      <button ion-button small color=secondary class="sendmessagebutton" style="text-transform: none;"
        (click)="opendmchat()">send
        message</button>

      <!--follow button-->
      <button ion-button small color={{this.followbuttoncolor}} class="followbutton" style="text-transform: none;"
        (click)="followORunfollow()">{{this.followstatus}}</button>

      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <div class="followertext">{{this.followertext}}</div>
        </ion-col>
        <!-- <ion-col></ion-col> -->
      </ion-row>

    </ion-col>
  </ion-row>


  <!--user bio details-->
  <!--username details-->
  <ion-row>
    <ion-col col-3>
      <div text-wrap><b><span class="biodetailsheadertext">Username:</span></b> </div>
    </ion-col>

    <ion-col col-9>
      <div text-wrap><span class="biodetailsvaluetext">{{this.username}}</span></div>
    </ion-col>
  </ion-row>

  <!--date joined details-->
  <ion-row>
    <ion-col col-3>
      <div text-wrap><b><span class="biodetailsheadertext">Joined:</span></b> </div>
    </ion-col>

    <ion-col col-9>
      <div text-wrap><span class="biodetailsvaluetext">{{this.datejoined}}</span></div>
    </ion-col>
  </ion-row>

  <!--about details-->
  <ion-row>
    <ion-col col-3>
      <div *ngIf="this.about != 'empty'" text-wrap><b><span class="biodetailsheadertext">About:</span></b></div>
    </ion-col>

    <ion-col col-9>
      <div text-wrap><span class="biodetailsvaluetext">{{this.about}}</span></div>
    </ion-col>
  </ion-row>

  <!--email details-->
  <ion-row>
    <ion-col col-3>
      <div *ngIf="this.email != 'empty'" text-wrap><b><span class="biodetailsheadertext">Email:</span></b></div>
    </ion-col>

    <ion-col col-9>
      <div text-wrap><span class="biodetailsvaluetext">{{this.email}}</span></div>
    </ion-col>
  </ion-row>

  <!--phone details-->
  <ion-row>
    <ion-col col-3>
      <div *ngIf="this.phonenumber != 'empty'" text-wrap><b><span class="biodetailsheadertext">Phone:</span></b></div>
    </ion-col>

    <ion-col col-9>
      <div text-wrap><span class="biodetailsvaluetext">{{this.phonenumber}}</span></div>
    </ion-col>
  </ion-row>

  <!--website details-->
  <ion-row>
    <ion-col col-3>
      <div *ngIf="this.website != 'empty'" text-wrap><b><span class="biodetailsheadertext">Website:</span></b></div>
    </ion-col>

    <ion-col col-9>
      <div text-wrap><span class="biodetailsvaluetext">{{this.website}}</span></div>
    </ion-col>
  </ion-row>



  <!--user's likes and message media swipeable tabs-->
  <ion-segment class="SwipedTabs-tabs">
    <ion-segment-button *ngFor='let tab of tabs; let i = index ' value="IgnoreMe" (click)="selectTab(i)"
      [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider && ( this.SwipedTabsSlider.getActiveIndex() === i || ( tabs.length -1 === i && this.SwipedTabsSlider.isEnd())))}'>
      {{tab}}
    </ion-segment-button>
  </ion-segment>

  <!--here is our dynamic line "indicator"-->
  <div id='tabsindicators' class="SwipedTabs-indicatorSegment" [ngStyle]="{'width.%' : (100/this.tabs.length)}"></div>

  <!-- slides to contain pinned messages and message media-->
  <ion-slides [ngStyle]="{ 'height': slidesMoving ? 'auto' : (slidesHeight + 'px') }"
    (ionSlideDidChange)="slideDidChange()" (ionSlideWillChange)="slideWillChange()" (ionSlidesDidLoad)="slidesDidLoad()"
    #SwipedTabsSlider (ionSlideDrag)="animateIndicator($event)" (pan)="updateIndicatorPosition()" [pager]="false">

    <!--pinned messages slide-->
    <ion-slide style="background-color: transparent;">
      <app-likedmessages2></app-likedmessages2>
    </ion-slide>

    <!--my message media slides-->
    <ion-slide style="background-color: transparent">
      <app-mymessagemedia2></app-mymessagemedia2>
    </ion-slide>

  </ion-slides>

</ion-content>