<ion-header no-shadow no-border>

  <ion-navbar>

    <div style="width: 100%;height: 100%;display: flex;flex-direction: row;">
      <ion-icon name="ios-paw" class="camfilaicon"></ion-icon>
      <ion-title>Message</ion-title>
    </div>

  </ion-navbar>


</ion-header>


<ion-content class="body">

  <!-- Custom Refresher Content -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <!-- Custom Refresher Content -->


  <!-- commented message card starts here-->
  <div *ngFor="let count of commentedmessagetablerow;" style="display: flex;width: 100%;background-color: transparent;
    flex-direction: column;
     margin-top: 5px; 
     padding-left: 5px;padding-right: 5px;padding-top: 5px;padding-bottom: 5px;">

    <div style="display: flex;background-color: transparent;
    flex-direction: column; box-shadow: 0px 0px 5px 1px grey;
    padding-top: 10px;padding-bottom: 10px; border-radius: 5px;
    ">

      <div style="display: flex;padding-left: 10px;padding-right: 10px;">
        <!-- profile image -->
        <div (click)="openuserprofilecommentedmsg(count)"
          style="display: flex;background-color: transparent;flex: 0.2;">
          <img src="{{server+count.commentedmsg_sender_profile_pic_fetched}}"
            style="width: 46px;height: 46px; border-radius: 23px;" />
        </div>

        <!-- username -->
        <div (click)="openuserprofilecommentedmsg(count)"
          style="display: flex; background-color: transparent;flex: 0.5;align-items: center;padding-top: 10px;">
          <p style="font-weight: 500;">{{count.commentedmsg_sender_username_fetched}}</p>
        </div>

        <!-- add comment -->
        <div style="display: flex;flex: 0.3;align-items: center;padding-top: 10px;">
          <button (click)="commentmessage(count)" ion-button small style="text-transform: none; height: 80%;"
            color="primary">add comment</button>
        </div>
      </div>

      <!-- image -->
      <div *ngIf="!server+count.commented_message_media_fetched"
        style="display: flex;background-color: transparent;justify-content: center;align-items: center;padding-top: 5px;padding-bottom: 5px;">
        <img src="{{server+count.commented_message_media_fetched}}" style="height: 180px;width: 95%;"
          (click)="viewimmage1(count)" />
      </div>

      <!-- message -->
      <div style="display: flex;background-color: transparent;padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
        <p style="font-size: smaller;">{{count.commented_message_fetched}}</p>
      </div>

      <!-- likes comments and time -->
      <div style="display: flex;background-color: transparent;flex-direction: row;padding-left: 10px;">
        <div style="display: flex;flex: 0.8;background-color: transparent;align-items: center;flex-direction: row;">

          <!-- like icon -->
          <ion-icon name="ios-heart" color={{this.commentedmessagelikecolor}}></ion-icon>

          <!-- like count -->
          <div style="font-size: smaller; padding-left: 5px;">{{count.commentedmsg_likes_fetched}}</div>

          <!-- comments icon -->
          <ion-icon *ngIf="count.commentedmsg_comments_fetched > 0" name="ios-text" color=secondary
            style="margin-left: 20px;"></ion-icon>
          <ion-icon *ngIf="count.commentedmsg_comments_fetched == 0" name="ios-text" color=dark
            style="margin-left: 20px;"></ion-icon>

          <!-- comments count -->
          <div style="font-size: smaller;padding-left: 5px;">{{count.commentedmsg_comments_fetched}}</div>
        </div>

        <!-- time -->
        <div style="display: flex;flex: 0.2;background-color: transparent; align-items: center;
          justify-content: flex-end;padding-right: 10px;">
          <div style="font-size: 10px;font-weight: 500;"> {{count.commentedmsg_date_created_fetched}}</div>
        </div>
      </div>

    </div>
  </div>
  <!-- commented message card ends here-->


  <div class="commentstext"><b>comments</b></div>




  <!-- comments for the message -->
  <div *ngFor="let count of specificmessagecommentstable" style="display: flex;width: 100%;background-color: transparent;
    flex-direction: column;margin-bottom: 10px;
    margin-top: 10px; padding-left: 5px;padding-right: 5px;padding-top: 5px;
    padding-bottom: 5px;border-bottom-style: solid;border-bottom-width: 0.5px; border-bottom-color: #E3E3E3;">

    <div style="display: flex;background-color: transparent;flex-direction: column;width: 100%;">

      <div style="display: flex;padding-left: 10px;padding-right: 10px;">
        <!-- profile image -->
        <div (click)="openuserprofilecommentmsg(count)" style="display: flex;background-color: transparent;flex: 0.2;">
          <img src="{{server+count.commenter_profile_pic_fetched}}"
            style="width: 42px;height: 42px; border-radius: 21px;" />
        </div>

        <!-- username -->
        <div (click)="openuserprofilecommentmsg(count)"
          style="display: flex; background-color: transparent;flex: 0.5;align-items: center;padding-top: 10px;">
          <p style="font-weight: 500;">{{count.commenter_username_fetched}}</p>
        </div>
      </div>

      <!-- image -->
      <div *ngIf="!server+count.commentmsg_messagemedia_fetched"
        style="display: flex;background-color: transparent;justify-content: center;align-items: center;padding-top: 5px;padding-bottom: 5px;">
        <img src="{{server+count.commentmsg_messagemedia_fetched}}" style="height: 180px;width: 95%;"
          (click)="viewimage2(count)" />
      </div>

      <!-- message -->
      <div (click)="loadmessagedetails(count)"
        style="display: flex;background-color: transparent;padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
        <p style="font-size: smaller;">{{count.commentmsg_message_fetched}}</p>
      </div>

      <!-- likes comments and time -->
      <div style="display: flex;background-color: transparent;flex-direction: row;padding-left: 10px;">
        <div style="display: flex;flex: 0.8;background-color: transparent;align-items: center;flex-direction: row;">

          <!-- like icon -->
          <ion-icon name="ios-heart" color={{count.commentmsg_likecolor}}></ion-icon>

          <!-- like count -->
          <div style="font-size: smaller; padding-left: 5px;">{{count.commentmsg_likes_fetched}}</div>

          <!-- comments icon -->
          <ion-icon name="ios-text" color={{count.commentmsg_commentcolor}} style="margin-left: 20px;"></ion-icon>

          <!-- comments count -->
          <div style="font-size: smaller;padding-left: 5px;">{{count.commentmsg_comments_fetched}}</div>
        </div>

        <!-- time -->
        <div style="display: flex;flex: 0.2;background-color: transparent; align-items: center;
          justify-content: flex-end;padding-right: 10px;">
          <div style="font-size: 10px;font-weight: 500;"> {{count.commentmsg_date_created_fetched}}</div>
        </div>
      </div>

    </div>
  </div>
  <!-- comments for the mssage -->




</ion-content>