<!--splashscreen settings-->
<div class="custom-overlay" [style.display]="splash ? 'flex': 'none'">

  <h1 class="splashheader">CamFila</h1>

  <!--splash screen styling-->
  <div>
    <!-- <ion-icon name="ios-paw" class="splashicon"></ion-icon> -->
    <img src="/assets/imgs/camfilaicon8.png" class="splashimage">
  </div>
</div>

<ion-header no-shadow no-border>

  <ion-navbar>
    <div style="width: 100%;height: 100%;display: flex;flex-direction: row;">
      <ion-icon name="ios-paw" class="camfilaicon"></ion-icon>
      <ion-title>Home</ion-title>
    </div>
  </ion-navbar>


</ion-header>


<ion-content class="body">
  <!-- Custom Refresher Content -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <!-- Custom Refresher Content -->

  <!--infinite scroll-->
  <!--threshold is the distance u need to pull to allow the scroll to work..should work with the inifinite scroll height-->
  <!--position is where u want to scroll from-->
  <ion-infinite-scroll threshold="0px" position="top" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!--infinite scroll-->



  <!-- page setup starts here-->
  <div *ngFor="let count of messagetablerows"
    style="display: flex;background-color: transparent;flex-direction: column;width: 100%;padding-left: 3px;padding-right: 0px;">

    <!-- normal message card starts here-->
    <div *ngIf="count.iscomment =='false'" style="display: flex;width: 100%;background-color: transparent;
    flex-direction: column;
    margin-top: 20px; padding-left: 5px;padding-right: 5px;padding-top: 5px;
    padding-bottom: 10px;border-bottom-style: solid;border-bottom-width: 0.5px; border-bottom-color: black">

      <div style="display: flex;background-color: transparent;flex-direction: row;width: 100%;">

        <!-- profile image -->
        <div (click)="openuserprofile(count)" style="display: flex;background-color: transparent;flex: 0.15;">
          <img src="{{server+count.sender_profile_pic_fetched}}"
            style="width: 40px;height: 40px; border-radius: 20px;" />
        </div>

        <!-- username -->
        <div (click)="openuserprofile(count)"
          style="display: flex; background-color: transparent;flex: 0.75;align-items: center;">
          <span style="font-weight: 500;font-size: small;">{{count.username_fetched}}</span>
        </div>

        <!-- pin icon -->
        <div
          style="display: flex; background-color: transparent;flex: 0.1;justify-content: center;align-items: flex-start;padding-top: 5px;">
          <ion-icon name={{count.pinIcon}} (click)="pinmessage(count)" color={{count.pincolor}}></ion-icon>
        </div>
      </div>

      <!-- image -->
      <div *ngIf="!server+count.message_media_fetched"
        style="display: flex;background-color: transparent;justify-content: center;align-items: center;padding-top: 15px;padding-bottom: 5px;">
        <img (click)="viewimage(count)" src="{{server+count.message_media_fetched}}"
          style="height: 180px;width: 85%;" />
      </div>

      <!-- message -->
      <div (click)="loadmessagedetails(count)"
        style="display: flex;background-color: transparent;padding-left: 10px;padding-top: 15px;padding-bottom: 5px;">
        <p style="font-size: smaller;">{{count.message_fetched}}</p>
      </div>

      <!-- likes comments and time -->
      <div style="display: flex;background-color: transparent;flex-direction: row;padding-left: 10px;">
        <div style="display: flex;flex: 0.8;background-color: transparent;align-items: center;flex-direction: row;">

          <!-- like icon -->
          <ion-icon (click)="likeORunlikemessage(count)" name={{count.heartIcon}} color={{count.likecolor}}></ion-icon>

          <!-- like count -->
          <div style="font-size: smaller; padding-left: 5px;">{{count.likes_fetched}}</div>

          <!-- comments icon -->
          <ion-icon name={{count.commentIcon}} style="margin-left: 20px;" color={{count.commentcolor}}></ion-icon>

          <!-- comments count -->
          <div style="font-size: smaller;padding-left: 5px;">{{count.comments_fetched}}</div>
        </div>

        <!-- time -->
        <div style="display: flex;flex: 0.2;background-color: transparent; align-items: center;
          justify-content: flex-end;padding-right: 10px;">
          <div style="font-size: 10px;font-weight: 500;">{{count.date_created_fetched}}</div>
        </div>

      </div>
    </div>
    <!-- normal message card ends here-->




    <!--comment message card & commented message card starts here -->
    <div *ngIf="count.iscomment =='true'" style="display: flex;width: 100%;
 margin-top: 10px;padding-bottom: 10px;
       flex-direction: column;align-items: center;border-bottom-style: solid;border-bottom-width: 0.5px; 
       border-bottom-color:black;">

      <!-- commented message card starts here -->
      <div style="display: flex;width: 100%;background-color: transparent;
      flex-direction: column;
      margin-top: 10px; padding-left: 5px;padding-right: 5px;padding-top: 5px;
      padding-bottom: 10px;">

        <div style="display: flex;background-color: transparent;flex-direction: row;width: 100%;">

          <!-- profile image -->
          <div (click)="openuserprofilecommentedmsg(count)"
            style="display: flex;background-color: transparent;flex: 0.15;">
            <img src="{{server+count.commentedmsg_profile_pic}}"
              style="width: 40px;height: 40px; border-radius: 20px;" />
          </div>

          <!-- username -->
          <div (click)="openuserprofilecommentedmsg(count)"
            style="display: flex; background-color: transparent;flex: 0.75;align-items: center;">
            <span style="font-weight: 500;font-size: smaller;">{{count.commentedmsg_username}}</span>
          </div>

          <!-- pin icon -->
          <!-- <div
            style="display: flex; background-color: transparent;flex: 0.1;justify-content: center;align-items: flex-start;padding-top: 5px;">
            <ion-icon name="star"></ion-icon>
          </div> -->
        </div>

        <!-- image -->
        <div *ngIf="!server+count.commentedmsg_messagemedia"
          style="display: flex;background-color: transparent;justify-content: center;align-items: center;padding-top: 15px;padding-bottom: 5px;">
          <img src="{{server+count.commentedmsg_messagemedia}}" (click)="viewimage2(count)"
            style="height: 180px;width: 85%;" />
        </div>

        <!-- message -->
        <div (click)="loadcommentedmessagedetails(count)"
          style="display: flex;background-color: transparent;padding-left: 10px;padding-top: 15px;padding-bottom: 5px;">
          <p style="font-size: smaller;">{{count.commentedmsg_message}}</p>
        </div>

        <!-- likes comments and time -->
        <div style="display: flex;background-color: transparent;flex-direction: row;padding-left: 10px;">
          <div style="display: flex;flex: 0.8;background-color: transparent;align-items: center;flex-direction: row;">

            <!-- like icon -->
            <ion-icon name={{count.commentedmsg_heartIcon}} (click)="likeORunlikemessagecard3(count)"
              color={{count.commentedmsg_likecolor}}>
            </ion-icon>

            <!-- like count -->
            <div style="font-size: smaller; padding-left: 5px;">{{count.commentedmsg_likes}}</div>

            <!-- comments icon -->
            <ion-icon name="ios-text" style="margin-left: 20px;" color={{count.commentedmsg_commentcolor}}></ion-icon>

            <!-- comments count -->
            <div style="font-size: smaller;padding-left: 5px;">{{count.commentedmsg_comments}}</div>
          </div>

          <!-- time -->
          <div style="display: flex;flex: 0.2;background-color: transparent; align-items: center;
            justify-content: flex-end;padding-right: 10px;">
            <div style="font-size: 10px;font-weight: 500;"> {{count.commentedmsg_date_created}}</div>
          </div>

        </div>
      </div>
      <!-- commented message card ends here -->


      <!-- comment message card starts here -->
      <div *ngIf="count.iscomment =='true'" style="display: flex;width: 90%;background-color: transparent;
    flex-direction: column;
    margin-top: 10px; padding-left: 5px;padding-right: 5px;padding-top: 5px;
    padding-bottom: 5px;border-radius: 3px;
    /* box-shadow: 0px 0px 3px 1px gray; */
    ">

        <div style="display: flex;background-color: transparent;flex-direction: row;width: 100%;">

          <!-- profile image -->
          <div (click)="openuserprofile(count)" style="display: flex;background-color: transparent;flex: 0.15;">
            <img src="{{server+count.sender_profile_pic_fetched}}"
              style="width: 40px;height: 40px; border-radius: 20px;" />
          </div>

          <!-- username -->
          <div (click)="openuserprofile(count)" style="display: flex;flex: 0.75;align-items: center;">
            <span style="font-weight: 500;font-size: smaller;">{{count.username_fetched}} </span>
            <span style="font-size: 10px;font-style: italic;padding-left: 5px;">commented</span>
          </div>

          <!-- pin icon -->
          <div
            style="display: flex; background-color: transparent;flex: 0.1;justify-content: center;align-items: flex-start;padding-top: 5px;">
            <ion-icon name={{count.pinIcon}} (click)="pinmessage(count)" color={{count.pincolor}}></ion-icon>
          </div>
        </div>

        <!-- image -->
        <div *ngIf="!server+count.message_media_fetched"
          style="display: flex;background-color: transparent;justify-content: center;align-items: center;padding-top: 15px;padding-bottom: 5px;">
          <img (click)="viewimage(count)" src="{{server+count.message_media_fetched}}"
            style="height: 180px;width: 85%;" />
        </div>

        <!-- message -->
        <div (click)="loadmessagedetails(count)"
          style="display: flex;padding-left: 10px;padding-top: 15px;padding-bottom: 5px;">
          <p style="font-size: smaller;width: 100%;">{{count.message_fetched}}</p>
        </div>

        <!-- likes comments and time -->
        <div style="display: flex;background-color: transparent;flex-direction: row;padding-left: 10px;">
          <div style="display: flex;flex: 0.8;background-color: transparent;align-items: center;flex-direction: row;">

            <!-- like icon -->
            <ion-icon (click)="likeORunlikemessage(count)" name={{count.heartIcon}} color={{count.likecolor}}>
            </ion-icon>

            <!-- like count -->
            <div style="font-size: smaller; padding-left: 5px;">{{count.likes_fetched}}</div>

            <!-- comments icon -->
            <ion-icon color={{count.commentcolor}} name={{count.commentIcon}} style="margin-left: 20px;"></ion-icon>

            <!-- comments count -->
            <div style="font-size: smaller;padding-left: 5px;">{{count.comments_fetched}}</div>
          </div>

          <!-- time -->
          <div style="display: flex;flex: 0.2;background-color: transparent; align-items: center;
          justify-content: flex-end;padding-right: 10px;">
            <div style="font-size: 10px;font-weight: 500;">{{count.date_created_fetched}}</div>
          </div>

        </div>
      </div>
      <!-- comment message card ends here -->

    </div>
    <!--comment message card & commented message card ends here -->

  </div>
  <!-- page setup ends here-->




  <!--floating action buttons to post message or search people-->
  <ion-fab right bottom class="fabcontainer">
    <button ion-fab class="pawfab">
      <ion-icon name="ios-paw"></ion-icon>
    </button>


    <ion-fab-list side="top">

      <!--send message fab-->
      <button ion-fab (click)="postmessage()" class="sendmessagefablistbutton">
        <ion-icon name="ios-create-outline" class="sendmessagefablisticon"></ion-icon>
      </button>

      <!--search people fab-->
      <button ion-fab (click)="searchpeople()" class="searchpeoplefablistbutton">
        <ion-icon name="ios-people-outline" class="searchpeoplefablisticon"></ion-icon>
      </button>
    </ion-fab-list>


  </ion-fab>



</ion-content>