.body {
    height: 100vh;
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginbutton{

        background-color: red;
        width: 150px;
        height: 60px;
        color:white;
        margin-bottom: 10px;
}

.signupbutton{
    background-color:green;
    width: 200px;
    height: 30px;  
    color:yellow; 
}
