page-search {
    //body
    .body {
        // background:url('/assets/imgs/12.jpg') !important;
        // background-repeat: no-repeat !important;
        // background-size: cover !important;
        //background: white !important;
    }

    //hide scroll bar when scrolling
    ::-webkit-scrollbar,
    *::-webkit-scrollbar {
        display: none;
    }

    //friends title background
    .toolbar-background {
        background-color: dodgerblue;
        // background:url('/assets/imgs/12.jpg') !important;
        // background-repeat: no-repeat !important;
        // background-size: cover !important;
        //background: white !important;
    }

    //back button which comes which navctrl push
    .back-button-icon {
        color: white;
    }

    //icon in header
    .camfilaicon {
        zoom: 2;
        color: white;
    }

    //navbar title
    .toolbar-title {
        color: white;
        //margin-left:-90px;
        margin-top: 5px;
        font-size:medium;
    }

    //navbar title
    .navbartitle {
        margin-top: 5px;
        background-color: transparent;
    }

    //remove border line caused by refresher
    .has-refresher .scroll-content {
        border-top: 0 !important;
    }

    //icon used for pulling refresher
    .refresher-pulling-icon {
        color: white;
    }

    //text shown when pulling refresher
    .refresher-pulling-text {
        color: white;
    }

    //icon used when refreshing
    .spinner svg {
        stroke: white;
        fill: white;
    }

    //text shown when refreshing
    .refresher-refreshing-text {
        color: white;
    }

    //searchbar
    .searchbar {
        position: static;
    }

    //card  containing user details
    .usercard {
        background-color: transparent;
        box-shadow: none !important; //border around card
        padding-bottom: 0px;

        //remove border lines around card
        box-shadow: none !important;
        border: none !important;
        border-style: none !important;
    }

    //user profile pic
    .userprofilepic {
        border-radius: 23px;
        width: 45px;
        height: 45px;
        margin-top: 10px;
        margin-bottom: 0px;

        margin-left: 10px;
        padding-left: 0px;
    }

    //follow button
    .followbutton {
        width: 80px;
        float: right;
        margin-top: 35px;
        margin-right: 10px;
    }

    //username card
    .usernamecard {
        margin-left: 0px;
        color: black;
        background-color: transparent;
        box-shadow: none !important; //border around card

        //remove border lines around card
        box-shadow: none !important;
        border: none !important;
        border-style: none !important;
    }

    //about card
    .aboutcard {
        //height:60px;
        //width:140px;
        margin-left: 0px;
        //margin-right:-5px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: black;
        background-color: transparent;
        box-shadow: none !important; //border around card
        font-size: smaller;

        //remove border lines around card
        box-shadow: none !important;
        border: none !important;
        border-style: none !important;
    }

    //follower text
    .followertext {
        color: black;
        margin-top: 15px !important;
        margin-bottom: -40px;
        float: right;
        margin-right: 10px;
        font-size: smaller;
    }
}
