page-creategroup {
    .body {
        background-color: white;
    }

    .back-button-icon {
        color: white;
    }

    ::-webkit-scrollbar,
    *::-webkit-scrollbar {
        display: none;
    }

    .toolbar-background {
        background-color: dodgerblue;
    }

    .camfilaicon {
        zoom: 2;
        color: white;
    }

    .toolbar-title {
        color: white;
        margin-top: 5px;
        font-size: medium;
    }

    .navbartitle {
        margin-top: 5px;
    }

    .profilephoto {
        margin-top: 10px;
        border-radius: 60px;
        width: 100px;
        height: 100px;
    }

    .deletepictureicon {
        position: absolute;
        color: red;
        margin-left: 35px;
        float: right;
        margin-top: -30px !important;
    }

    .changephototext {
        color: black;
        margin-top: -10px;
    }

    .formsetup {
        margin-top: 50px !important;
    }

    .groupnameform {
        margin-top: 20px;
        background: transparent;
    }

    .groupnameinput {
        color: black;
        font-size: 13px;
    }

    .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color: black;
        padding-left: 85px;
    }

    .creategroupbutton {
        margin-top: 10px;
        width: 150px;
        height: 30px;
    }

    .creategroupicon {
        margin-right: 5px;
    }

    .groupdescriptiontextarea {
        margin-top: 30px;
        border-radius: 10px;
        background: transparent;
        color: black;
        font: arial;
        border: 1px solid transparent;
    }

    .groupdescriptiontextarea::placeholder {
        color: black;
        padding-left: 85px;
    }
}
