<ion-header no-shadow no-border>

  <ion-navbar>

    <div style="display: flex;width: 100%;display: flex;">

      <div (click)="openuserprofile()" style="display: flex;flex: 0.2;justify-content: center;align-items: center;">
        <img src="{{this.receipientprofilepic}}" style="width: 40px;height: 40px;border-radius: 20px;" />
      </div>

      <div (click)="openuserprofile()" style="display: flex;flex: 0.7; align-items: center;">
        <span style="font-weight: bold;color: white;">{{this.receipientusername}}</span>
      </div>

      <div (click)="callnumber()" style="display: flex;flex: 0.1;justify-content: center;align-items: center;">
        <ion-icon name="ios-call" color="secondary" style="font-size:30px;"></ion-icon>
      </div>

    </div>

  </ion-navbar>


</ion-header>


<ion-content class="body">

  <ion-list no-lines class="messagebubble" *ngFor="let count of this.dmmsgstablerows;">

    <!--right side message-->
    <!--logged in message bubble-->
    <div class="innermessage loggedinuser" *ngIf="count.loggedinuser_id_fetched == this.mymodulevariables.globaluserid"
      (pan)='deletemymessage($event,count)'>

      <!--picture in message-->
      <img *ngIf="!server+count.dm_msg_media_fetched" class="messagemedia" src="{{server+count.dm_msg_media_fetched}}"
        (click)="viewimage(count)">

      <!--video in message-->
      <div class="videodivcontainer" *ngIf="!server+count.dm_video_fetched">
        <img class="thumbnailmessagemedia" src="{{server+count.dm_video_thumbnail_fetched}}" (click)="playvideo(count)">
        <div class="centeredicon">
          <ion-icon name="play" class="playvideoicon" (click)="playvideo(count)"></ion-icon>
        </div>
      </div>


      <!--document file-->
      <ion-card-content class="documentfilecard" *ngIf="count.dm_file_path_fetched !=null" (click)="openfile(count)">
        <ion-icon name="ios-document" class="documenticon"></ion-icon><span
          class="documentname">{{count.dm_file_name_fetched}}</span>
        <br>
        <ion-note class="documentsize">{{count.dm_file_size_fetched}}</ion-note>
      </ion-card-content>


      <!--audio file-->
      <ion-card-content class="audiocardright" *ngIf="count.dm_audio_recorded_fetched != null">
        <ion-row><span class="audiofilenameright">{{count.dm_audio_name_fetched}}</span></ion-row>
        <ion-row>
          <ion-col class="audiorightplayiconscolumn">
            <ion-icon name="play" *ngIf="count.playiconactive" class="playaudioicon" (click)="playrecordedaudio(count)">
            </ion-icon>
            <ion-icon name="pause" *ngIf="count.pauseiconactive" class="pauseaudioicon"
              (click)="pauserecordedaudio(count)"></ion-icon>
            <ion-icon name="repeat" *ngIf="count.resumeiconactive" class="resumeaudioicon"
              (click)="resumerecordedaudio(count)"></ion-icon>
            <ion-icon name="square" *ngIf="count.stopiconactive" class="stopaudioicon"
              (click)="stoprecordedaudio(count)"></ion-icon>
          </ion-col>

          <ion-col>
            <ion-note class="audiofiledurationright">{{count.dm_audio_duration_fetched}}</ion-note>
          </ion-col>
        </ion-row>
      </ion-card-content>

      <!--provide a break so after the image if it exists so that the normal teext will go on the next line-->
      <br *ngIf="!server+count.dm_msg_media_fetched">

      <!--actual message-->
      <span class="allusersmessagetext">{{count.dm_msg_fetched}}</span>

      <!--message time-->
      <ion-note class="loggedinusermessagetime">{{count.dm_msg_time_fetched}}</ion-note>

    </div>
    <!--logged in message bubble-->


    <!--left side message-->
    <!--user 2 message bubble-->
    <div class="innermessage user2" *ngIf="count.loggedinuser_id_fetched == this.dmreceipient_id_retrieved"
      (pan)='deleteuser2message($event,count)'>

      <!--picture in message-->
      <div class="imagedivcontainer" *ngIf="!server+count.dm_msg_media_fetched">
        <img class="messagemedia" src="{{server+count.dm_msg_media_fetched}}" (click)="viewimage(count)">

        <!--download image icon-->
        <!-- <div class="imagebottomrighticon">
          <ion-icon name="download" class="downloadimageicon" (click)="downloadimage(count)"></ion-icon>
        </div> -->
      </div>

      <!--video in message-->
      <div class="videodivcontainer" *ngIf="!server+count.dm_video_fetched">
        <img class="thumbnailmessagemedia" src="{{server+count.dm_video_thumbnail_fetched}}" (click)="playvideo(count)">

        <!--play video icon-->
        <div class="centeredicon">
          <ion-icon name="play" class="playvideoicon" (click)="playvideo(count)"></ion-icon>
        </div>

        <!--download video icon-->
        <div class="videobottomrighticon">
          <ion-icon name="download" *ngIf="count.download" class="downloadvideoicon" (click)="downloadvideo(count)">
          </ion-icon>

          <!--downloading spinner-->
          <div *ngIf="count.downloading" class="spinner-border text-primary" role="status"
            (click)="canceldownload(count)">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

      </div>


      <!--document file-->
      <ion-card-content class="documentfilecard" *ngIf="count.dm_file_path_fetched !=null">
        <ion-icon name="ios-document" class="documenticon" (click)="openfile(count)"></ion-icon><span
          class="documentname" (click)="openfile(count)">{{count.dm_file_name_fetched}}</span>
        <br>
        <ion-note class="documentsize" (click)="openfile(count)">{{count.dm_file_size_fetched}}</ion-note>

        <!--download document icon-->
        <ion-icon name="download" *ngIf="count.download" class="downloaddocumenticon" (click)="downloadfile(count)">
        </ion-icon>

        <!--downloading spinner-->
        <div *ngIf="count.downloading" class="spinner-border text-primary" role="status" style="float:right;"
          (click)="canceldownload(count)">
          <span class="sr-only">Loading...</span>
        </div>
      </ion-card-content>


      <!--audio file-->
      <ion-card-content class="audiocardleft" *ngIf="count.dm_audio_recorded_fetched != null">
        <ion-row><span class="audiofilenameleft">{{count.dm_audio_name_fetched}}</span></ion-row>
        <ion-row>
          <ion-col class="audioleftplayiconscolumn">
            <ion-icon name="play" *ngIf="count.playiconactive" class="playaudioicon" (click)="playrecordedaudio(count)">
            </ion-icon>
            <ion-icon name="pause" *ngIf="count.pauseiconactive" class="pauseaudioicon"
              (click)="pauserecordedaudio(count)"></ion-icon>
            <ion-icon name="repeat" *ngIf="count.resumeiconactive" class="resumeaudioicon"
              (click)="resumerecordedaudio(count)"></ion-icon>
            <ion-icon name="square" *ngIf="count.stopiconactive" class="stopaudioicon"
              (click)="stoprecordedaudio(count)"></ion-icon>
          </ion-col>

          <!--audio duration-->
          <ion-col>
            <ion-note class="audiofiledurationleft">{{count.dm_audio_duration_fetched}}</ion-note>
          </ion-col>

          <!--download audio icon-->
          <ion-col>
            <!--download audio icon-->
            <ion-icon name="download" *ngIf="count.download" class="downloadaudioicon" (click)="downloadaudio(count)">
            </ion-icon>

            <!--downloading spinner-->
            <div *ngIf="count.downloading" class="spinner-border text-primary" role="status"
              (click)="canceldownload(count)">
              <span class="sr-only">Loading...</span>
            </div>
          </ion-col>

        </ion-row>
      </ion-card-content>


      <!--provide a break so after the image if it exists so that the normal teext will go on the next line-->
      <br *ngIf="!server+count.dm_msg_media_fetched">

      <!--actual message-->
      <span class="allusersmessagetext">{{count.dm_msg_fetched}}</span>

      <!--message time-->
      <ion-note class="user2messagetime">{{count.dm_msg_time_fetched}}</ion-note>

    </div>
    <!--user 2 message bubble-->


  </ion-list>


</ion-content>




<ion-footer class="textareafooter">

  <!-- send message area starts here-->
  <div style="display: flex;background-color: transparent;width: 100%;padding-left: 10px;padding-right: 10px;">

    <div style="display: flex;background-color: transparent; width: 100%; 
      flex-direction: row;padding-top: 5px;">

      <div style="display: flex;background-color: transparent;flex: 0.75;">
        <textarea placeholder="type message here..." name="abc" id="" rows="1" style="width: 100%;border: none;font-size: small;
          background-color: transparent;margin-top: 5px;margin-bottom: 5px;
          margin-left: 5px;"></textarea>
      </div>

      <div style="display: flex;background-color: transparent;flex: 0.25;flex-direction: row;">
        <div style="display: flex;flex: 0.5;background-color: transparent;align-items: center;justify-content: center;">
          <ion-fab style="background-color: transparent;">
            <button ion-fab style="width: 35px;height: 35px; display: flex;justify-content: center;align-items: center;">
              <ion-icon name="ios-camera"></ion-icon>
            </button>

            <ion-fab-list side="top">

              <!--camera  option-->
              <button ion-fab (click)="openCamera()" style="background-color: dodgerblue;">
                <ion-icon name="ios-camera" style="color: white;"></ion-icon>
                <div class="label">Take photo</div>
              </button>

              <!--gallery option-->
              <button ion-fab (click)="openPhotos()" style="background-color: dodgerblue;">
                <ion-icon name="ios-photos" style="color: white;"></ion-icon>
                <div class="label">Upload photo</div>
              </button>

              <!--capture video  option-->
              <button ion-fab (click)="capturevideo()" style="background-color: dodgerblue;">
                <ion-icon name="ios-film" style="color: white;"></ion-icon>
                <div class="label">Capture video</div>
              </button>

              <!--upload video  option-->
              <button ion-fab (click)="uploadvideo()" style="background-color: dodgerblue;">
                <ion-icon name="ios-play" style="color: white;"></ion-icon>
                <div class="label">Upload video</div>
              </button>

              <!--record audio  option-->
              <button ion-fab (click)="recordaudio()" style="background-color: dodgerblue;">
                <ion-icon name="ios-microphone" style="color: white;"></ion-icon>
                <div class="label">Record audio</div>
              </button>

              <!--file  option-->
              <button ion-fab (click)="uploadfile()" style="background-color: dodgerblue;">
                <ion-icon name="ios-folder" style="color: white;"></ion-icon>
                <div class="label">Upload file</div>
              </button>

            </ion-fab-list>
          </ion-fab>
        </div>
        <div
          style="display: flex;flex: 0.5;background-color: transparent; align-items: center;justify-content: center;">
          <ion-icon name="ios-send" (click)="senddmmessage()" style="font-size: 35px;color: dodgerblue;"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  <!-- send message area ends here-->























  <!--send message text area-->
  <ion-row>
    <ion-col>
      <ion-textarea class="sendmessagetextarea" rows="1" [(ngModel)]="senddmmessagetextareainput"
        placeholder="type message here..."></ion-textarea>
    </ion-col>


    <ion-row>

      <!--camera floating action button-->
      <ion-col>
        <ion-fab edge class="fabcontainer">
          <button ion-fab mini class="camerafab">
            <ion-icon name="ios-camera" class="mainfabicon"></ion-icon>
          </button>

          <ion-fab-list side="top">

            <!--camera  option-->
            <button ion-fab class="camerafablistbutton" (click)="openCamera()">
              <ion-icon name="ios-camera" class="camerafablisticon"></ion-icon>
              <div class="label">Take photo</div>
            </button>

            <!--gallery option-->
            <button ion-fab class="galleryfablistbutton" (click)="openPhotos()">
              <ion-icon name="ios-photos" class="galleryfablisticon"></ion-icon>
              <div class="label">Upload photo</div>
            </button>

            <!--capture video  option-->
            <button ion-fab class="capturevideofablistbutton" (click)="capturevideo()">
              <ion-icon name="ios-film" class="capturevideofablisticon"></ion-icon>
              <div class="label">Capture video</div>
            </button>

            <!--upload video  option-->
            <button ion-fab class="uploadvideofablistbutton" (click)="uploadvideo()">
              <ion-icon name="ios-play" class="uploadvideofablisticon"></ion-icon>
              <div class="label">Upload video</div>
            </button>

            <!--record audio  option-->
            <button ion-fab class="recordaudiofablistbutton" (click)="recordaudio()">
              <ion-icon name="ios-microphone" class="recordaudiofablisticon"></ion-icon>
              <div class="label">Record audio</div>
            </button>

            <!--file  option-->
            <button ion-fab class="filefablistbutton" (click)="uploadfile()">
              <ion-icon name="ios-folder" class="filefablisticon"></ion-icon>
              <div class="label">Upload file</div>
            </button>

          </ion-fab-list>
        </ion-fab>
      </ion-col>

      <!--send message icon-->
      <ion-col>
        <ion-icon name="ios-send" class="sendmessageicon" (click)="senddmmessage()"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-row>
</ion-footer>