page-resetpassword {

    .body{
        background:url('/assets/imgs/12.jpg') !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        //background: white !important;
    }

    //back button which comes which navctrl push
    .back-button-icon{
        color: white;
      }

    //hide scroll bar when scrolling
    ::-webkit-scrollbar,
    *::-webkit-scrollbar
    {
        display: none;
    }

     //following title background
     .toolbar-background{
        //background:transparent;
        background:url('/assets/imgs/12.jpg') !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        //background: white !important;
    }

    //icon in header
    .camfilaicon{
        zoom :2.0;
        color:white;
     }
 
 
    //navbar title
    .toolbar-title{
        color:white;
        margin-top: 5px;
    } 

    //navbar title
    .navbartitle{
        margin-top:5px;
    }


    //form setup
    .formsetup{
     margin-top: 200px;   
    }

    // resetpassword form item
    .resetpasswordform{
        margin-top: 20px;
        background: transparent;
    }

    //ref number input textbox
    .refnumberinput{
        color:black;
        font-size: 13px;
    }

    //reset password button
    .resetpasswordbutton{
        margin-top: 10px;
        //margin-left: 10px;
        width: 150px;
        height: 40px !important;
    } 

     //reset password icon
     .resetpasswordicon{
        margin-right: 10px;
        color:white;
    }

     //reset input placeholder
     .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color: black;
        padding-left: 50px;
    }
}
