.ourform {
    background-color: transparent;
    width: 20%;
    height: 60%;
    display: flex;
    justify-content: center;
}

::placeholder {
    color: black;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.myinput {
    color: black;
    outline: none;
    border: none;
    text-align: center;
    font-size: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    box-shadow: 1px -1px 3px 0px gray;
    border-radius: 5px;
}

.login_button {
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 2px -2px 5px 2px grey;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.login_button:hover {
    background-color: dodgerblue;
    color: white;
}

.login_button:focus {
    background-color: dodgerblue;
    color: white;
}

.login_button:active {
    background-color: dodgerblue;
    color: white;
}

.link :hover {
    color: green;
}

.imagediv {
    display: flex;
    flex: 0.4;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

@media screen and (max-width: 960px) {
    .ourform {
        background-color: transparent;
        width: 40%;
        height: 60%;
        display: flex;
        justify-content: center;
    }
}
